{% extends "layout/default.html" %}
{% block content %}
<section class="section" id="mealplan">
    <div>
        <button class="button no-print edit-control" v-on:click="regenMealPlan">Regen all</button>
        <button class="button no-print edit-control" v-on:click="exportMealplan">Export</button>
    </div>
    <div>
        <button class="button no-print" v-on:click="changeWeek(-1)">&lt;</button>
        {{start_date.format('YYYY-MM-DD') }}
        <button class="button no-print" v-on:click="changeWeek('today')">today</button>
        <button class="button no-print" v-on:click="changeWeek(1)">&gt;</button>
    </div>
    <table class="table is-striped is-fullwidth" id="mealplan-table">
        <thead>
            <tr>
                <th>Weekday</th>
                <th>Date</th>
                <th>Recipe</th>
                <th>Constraint</th>
                <th>Tags</th>
                <th class="no-print">Actions</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="(meal, index) in mealplan">
                <meal-row v-bind:meal="meal"></meal-row>
            </template>
        </tbody>
    </table>
</section>
{% endblock %}