{% extends "layout/default.html" %}
{% block content %}
<section class="section" id="mealplan">
    <h1 class="is-size-4">Mealplan</h1>
    <div>
        <button class="button no-print" v-on:click="regenMealPlan">Regen all</button>
        <button class="button no-print" v-on:click="exportMealplan">Export</button>
    </div>
    <div>
        <button class="button no-print" v-on:click="changeWeek(-1)">&lt;</button>
        {{start_date.format('YYYY-MM-DD') }}
        <button class="button no-print" v-on:click="changeWeek('today')">today</button>
        <button class="button no-print" v-on:click="changeWeek(1)">&gt;</button>
    </div>
    <table class="table is-striped" id="mealplan-table">
        <thead>
            <tr>
                <th>Weekday</th>
                <th>Date</th>
                <th>Recipe</th>
                <th>Constraint</th>
                <th>Tags</th>
                <th class="no-print">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(meal, index) in mealplan" v-bind:class="{'is-selected': meal.date.isSame(new Date(), 'day')}">
                <td class="no-wrap">{{ meal.date.format('dddd') }}</td>
                <td class="no-wrap">{{ meal.date.format('YYYY-MM-DD') }}</td>
                <td>
                    <a v-if="meal.recipe.url" :href="meal.recipe.url" target="_blank">
                        {{ meal.recipe.name }}
                    </a>
                    <template v-else>{{ meal.recipe.name }}</template>
                </td>
                <td class="no-wrap">{{ meal.constraint == null ? "NA" : meal.constraint.title }}</td>
                <td class="no-wrap">
                    <span class="tag" :data-value="tag.name" v-for="tag in meal.recipe.tags">
                        {{tag.display_name}}
                    </span>
                </td>
                <td class="no-print"><button class="button" v-on:click="regenMeal(index)">Regen</button></td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}