{% extends "layout/default.html" %}
{% block content %}
<section class="section" id="mealplan">
    <h1 class="is-size-4">Mealplan</h1>
    <button class="button no-print" v-on:click="regen('all')">Regen all</button>
    <button class="button no-print" v-on:click="exportMealplan">Export</button>
    <table class="table is-striped" id="mealplan-table">
        <thead>
            <tr>
                <th>Weekday</th>
                <th>Date</th>
                <th>Recipe</th>
                <th>Constraint</th>
                <th>Tags</th>
                <th class="no-print">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(meal, index) in mealplan"  v-bind:class="{'is-selected': meal.date.isSame(new Date(), 'day')}">
                <td class="no-wrap">{{ meal.date.format('dddd') }}</td>
                <td class="no-wrap">{{ meal.date.format('YYYY-MM-DD') }}</td>
                <td>{{ meal.recipe.Name }}</td>
                <td class="no-wrap">{{ meal.constraint.title }}</td>
                <td class="no-wrap">
                    <span class="tag" :data-value="tag" v-for="tag in meal.recipe['parsed-tags']">
                        {{tag}}
                    </span>
                </td>
                <td class="no-print"><button class="button" v-on:click="regen(index)">Regen</button></td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}
