{% extends "layout/default.html" %}
{% block content %}
<section class="section" id="recipes">
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <label class="label">New Recipe</label>
                <p class="control is-expanded">
                    <input class="input" v-model="newRecipeName" type="text" placeholder="e.g. Lasagna">
                </p>
            </div>
            <div class="field">
                <label class="label">Tags</label>
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="e.g.: Kip, Zondigen">
                </p>
            </div>
            <div class="field">
                <label class="label">&nbsp;</label>
                <p class="control">
                    <button class="button is-primary" v-on:click="addRecipe()">Add</button>
                </p>
            </div>
        </div>
    </div>
    <div><strong>{{ recipes.length }}</strong> recipes</div>
    <table class="table is-striped is-fullwidth" id="recipes-table">
        <thead>
            <tr>
                <th>Recipe
                    <input v-model="recipeNameFilter" class="input" type="text" id="filter-recipes"
                        placeholder="Filter Recipes">
                </th>
                <th>Controls</th>
                <th>Tags
                    <div id="filter-tags">
                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control" v-for="tag in recipeTagFilter">
                                <div class="tags has-addons">
                                    <span class="tag" :data-value="tag.name">
                                        {{tag.display_name}}
                                    </span>
                                    <a class="tag is-delete" v-on:click="removeTagFilter(tag)"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="recipe in filteredRecipes">
                <td>{{ recipe.name }}</td>
                <td><button class="button is-small is-danger edit-control" v-on:click="deleteRecipe(recipe)">Delete</button></td>
                <td class="tag-column">
                    <span class="tag" :data-value="tag.name" v-for="tag in recipe.tags" v-on:click="addTagFilter(tag)">
                        {{tag.display_name}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}