{% extends "layout/default.html" %}
{% block content %}
<section class="section" id="recipes">
    <h1 class="is-size-4">Recipes</h1>
    <div><strong>{{ recipes.length }}</strong> recipes</div>
    <table class="table is-striped" id="recipes-table">
        <thead>
            <tr>
                <th>Recipe</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="recipe in recipes">
                <td class="no-wrap">{{ recipe.name }}</td>
                <td>
                    <span class="tag" :data-value="tag" v-for="tag in recipe.tags">
                        {{tag}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}
