<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gusto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="is-size-4">Gusto</h1>
            </a>
        </div>
    </nav>
    <section class="section" id="mealplan">
        <h1 class="is-size-4">Mealplan</h1>
        <button class="button no-print" v-on:click="regen('all')">Regen all</button>
        <table class="table">
            <thead>
                <tr>
                    <th>Weekday</th>
                    <th>Date</th>
                    <th>Recipe</th>
                    <th>Labels</th>
                    <th class="no-print">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(meal, index) in mealplan">
                    <td class="no-wrap">{{ meal.weekday }}</td>
                    <td class="no-wrap">{{ meal.date }}</td>
                    <td>{{ meal.recipe }}</td>
                    <td>
                        <span class="tag" v-for="label in meal.labels.split(',')">
                            {{label}}
                        </span>
                    </td>
                    <td class="no-print"><button class="button" v-on:click="regen(index)">Regen</button></td>
                </tr>
            </tbody>
        </table>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="/static/app.js"></script>
</body>

</html>