/* Helpers */

.no-wrap {
    white-space: nowrap;
}

/* Layout */

nav {
    background: #ffdd57;
}

.logo {
    font-size: 35px;
    line-height: 100%;
    margin: 0 15px 0 0;
}

tr.placeholder td {
    background-color: #eee;
}

/* Toggle edit */

.hidden {
    display: none;
}

/* Table */

#mealplan-table {
    width: 50%;
}

#mealplan-table .is-today td {
    background: #00d1b2
}

#recipes-table tr:hover td {
    background: #fcecaf;
}

/* Websocket */

#websocket .fas {
    color: rgb(179, 25, 5);
}

#websocket.open .fas {
    color: rgb(13, 167, 7);

    /* color: rgb(179, 25, 5); */
}

/* TAGS */

.tag {
    margin: 0 2px;
}

#recipes-table .tag {
    cursor: pointer;
}

.tag[data-value="vis"] {
    background-color: rgb(141, 177, 245);
    color: white;
}

.tag[data-value="salade"] {
    background-color: rgb(145, 245, 141);
}

.tag[data-value="pasta"] {
    background-color: rgb(245, 221, 141);
}

.tag[data-value="aardappel"] {
    background-color: rgb(245, 221, 141);
    border: 2px solid rgb(167, 101, 2);
}

.tag[data-value="kip"] {
    background-color: rgb(177, 135, 0);
    color: white;
}

.tag[data-value="kip"]:before {
    content: "🍗\00a0\00a0";
}

.tag[data-value="vegetarisch"] {
    background-color: rgb(13, 167, 7);
    color: white;
}

.tag[data-value="brood"] {
    background-color: rgb(134, 82, 2);
    color: white;
}

.tag[data-value="brood"]:before {
    content: "🥖\00a0\00a0";
}

.tag[data-value="zondigen"] {
    background-color: rgb(179, 25, 5);
    color: white;
}

.tag[data-value="steak"] {
    background-color: rgb(245, 173, 173);
}

.tag[data-value="steak"]:before {
    content: "🥩\00a0\00a0";
}

.tag[data-value="asian"] {
    background-color: rgb(232, 247, 22);
}

.tag[data-value="italiaans"] {
    background-color: white;
    color: green;
    border: 1px solid rgb(179, 25, 5);
}


/* Put print styles at the bottom so we override previous styles */
@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }


    #mealplan-table {
        width: 100%;
    }

    .tag {
        color: #000 !important;
    }
}